*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    height: auto;
    width: auto;
    background-color:black;
}
.logo{
    margin-top:10px;
    margin-left: 150px;
    opacity: 100%;
    height: 50px;
    width: 200px;
    backdrop-filter: blur(50%);
}
.logo>img{
    margin-top: -24px;
position:relative;}
.main{
    height:100vh;
    width: 100%;
    background:url("https://assets.nflxext.com/ffe/siteui/vlv3/0552717c-9d8c-47bd-9640-4f4efa2de663/537e2c5e-c750-4d4c-9f7a-e66fe93eb977/IN-en-20240701-POP_SIGNUP_TWO_WEEKS-perspective_WEB_b00eeb83-a7e8-4b5b-8ff7-86ed92c51caf_small.jpg");
    backdrop-filter:;
    color: pink;
    opacity:80%;
    display: flex;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.login{
    height:603px ;
    width: 450px;
    background-color:rgba(0,0,0,80%);
    margin:100px auto;
    display:block;
    margin-left: 200px;
    justify-items:flex-start;
    align-items: flex-start;
    backdrop-filter:blur(50%);
}
.content{
    margin-left: 60px;
    margin-top: 40px;
}
h1{
    font-size: 35px;
    color: white;
    margin-bottom: 30px;
}
p{
    text-align: center;
    margin-left: -60px;
    margin-bottom: 10px ;}
p>a{
    color: white;
}
.input{
    height: 55px;
    width: 85%;
    align-items: center;
    margin-bottom: 20px;
    color:grey;
    background-color: transparent;
    font-size: 16px;
    padding-left: 20px;
    border-radius: 5px;
    border: 2px solid grey;
}
.check{
    height: 16px;
    width: 16px;   
    color: transparent;    
    background-color: transparent;
}
.check>input:hover{
    color: aliceblue;
    background-color:blue;
}
input:hover{
    background-color: transparent;
}
.btn{
    height: 40px;
    width: 85%;
    text-align: center;
    font-size: 16px;
    background-color: red;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}
#sn{
    display: flex;
    justify-content: start;
    margin-left:0px;
    margin-top: 10px;
}
#sn>a{
    text-decoration:none;
    font-weight: bold;
    font-size: 16px;
}
.btn:hover{
    background-color: rgb(235, 0, 0);
}
.btn >a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
h3{
    margin-left:-60px;
  text-align: center;
  margin-bottom: 20px;
  color: rgb(214, 213, 213);
  font-size: 20px;
}
#tran{
    background-color:rgba(142, 134, 134,50%);
    color: white;
    border: none;
}
#tran:hover{
    background-color: rgba(81, 79, 79,50%);
}
.lfoot{
    margin-left:-50px;
    font-size:13px;
}
.lfoot>p{
    letter-spacing: 1.5;
}
#span{
    margin-left: -140px;
}
.lfoot>details{
    margin-top:-27px;
    margin-left:340px;
    color:rgb(69, 69, 255);
}
details>summary{
    margin-top:px;
    margin-left:-80px;
    display:inline;
    margin-left: -150px;
}
details>p{
    margin-top: 20px;
    margin-left:-350px;
    display:block;
    justify-content: flex-start;
    letter-spacing: 1.5;



 

}
.last{
    margin-left: 50px;
    margin-bottom:-200px;
    display: inline-flex;
    color:white;
    margin-top:1050px;
    position: absolute;
    padding: 20px;
    font-size: 17px;
    
}
.last p{
    margin-left: 110px;
    margin-top:-100px;
}
.menu,.menu1{
    margin-top:100px ;
    margin-left:-300px;
    display:inline-flex;
    width: 400px;
    
    
}
.menu>ul{
    margin-top:-200px;
    margin-left: 0px;
    display:inline-flex;
    list-style: none;    
}
.menu1>ul{
     display: inline-flex;
     list-style: none;
     margin-left: -100px;
     margin-top: -160px;
}
li{
   padding: 40px;
   width: 300px;

}
p{
    color: rgb(181, 180, 180);;
}
a{
    color:rgb(181, 180, 180);
}

li>a{
    color:rgb(181, 180, 180);   
}

.slt{
    height: 30px;
    width: 120px;
    position: absolute;
    margin-left:110px ;
    border-radius: 5px;
    border: 2px solid solid grey;
    background-color: transparent;
    color: rgb(188, 185, 185);
    font-size: 15px;
    padding-left: 20px;
    margin-top: 20px;

}